{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
  <div class="home__container">
    <div class="home__latestUsers p-4">
      <h1>Derniers utilisateurs inscrits</h1>
      {% for user in lastUsers %}
        {{ include('./components/userCard.html.twig') }}
      {% endfor %}
    </div>
    <div class="home__latestPosts p-4">
      <h1>Derniers posts</h1>
      {% for post in lastPosts %}
        {{ include('./components/post.html.twig') }}
      {% endfor %}
      {{ include('./_postForm.html.twig') }}
    </div>
  </div>
{% endblock %}