{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
<div class="home__container">
  <div class="home__latestUsers">
    {% for user in lastUsers %}
      {{ include('./components/userCard.html.twig') }}
    {% endfor %}
    </div>
    <div class="home__latestPosts">
      {% for post in lastPosts %}
        {{ include('./components/post.html.twig') }}
      {% endfor %}
      {{ include('./_postForm.html.twig') }}
    </div>
    {% endblock %}